.js-enabled-block {
  display: none;
}

.js-enabled .js-enabled-block {
  display: block;
}

@media print {
  .govuk-summary-list__actions, .govuk-button, .button, button, .govuk-back-link,
  footer, .form-help-toggle, .help-container, .govuk-details:not([open]) {
    display: none !important;
  }
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
}
