.hmrc-responsive-table {
  border-spacing: 0;
  border-collapse: collapse;
}

.hmrc-responsive-table > tbody > tr > td {
  vertical-align: top;
  padding: 0;
}

.hmrc-responsive-table .govuk-table td {
  padding-right: 1em;
}

.hmrc-responsive-table .govuk-table th {
  min-width: 10em;
}

.hmrc-responsive-table td:not(:first-child) .govuk-table th:first-child {
  display: none;
}

.hmrc-responsive-table .no-border-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.hmrc-responsive-table .no-border-bottom p {
  margin-bottom: 0;
}

@media all and (max-width: 800px) {
  table.hmrc-responsive-table {
    width: 100%;
  }

  .hmrc-responsive-table > tbody > tr {
    display: block;
  }

  .hmrc-responsive-table > tbody > tr > td {
    display: block;
    width: 100%;
  }

  .hmrc-responsive-table .govuk-table td {
    padding-right: 0;
  }

  .hmrc-responsive-table td:not(:first-child) .govuk-table th:first-child {
    display: table-cell;
  }

  .hmrc-overlap-columns-2-parent,
  .hmrc-overlap-columns-3-parent {
    height: auto;
  }

  .hmrc-overlap-columns-2,
  .hmrc-overlap-columns-3 {
    position: static;
    width: 100%;
  }

  .hmrc-overlap-columns-2 textarea,
  .hmrc-overlap-columns-3 textarea {
    width: 100%;
  }

  .hmrc-responsive-table td:not(:first-child) .govuk-table tr:has(div.hmrc-overlap-columns-2-parent),
  .hmrc-responsive-table td:not(:first-child) .govuk-table tr:has(div.hmrc-overlap-columns-3-parent) {
    display: none;
  }
}
