//Account Info Header pattern

.test {
  display: table; /* keep the background color wrapped tight */
  margin: 0px auto 0px auto; /* keep the table centered */
  padding:5px;font-size:20px;background-color:green;color:#ffffff;
}